@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap");
*{
    font-family: 'Chivo',sans-serif;
    box-sizing: border-box;
   
    

}

body{
   
    background-color: #101824;
    max-width: 1600px;
    font-size: 18px;
    margin: 0;
   
    
    
}

.container{
    margin: 100px 100px 0 100px;
    overflow-y:hidden;
    overflow-x: hidden;
    
}



.publish{
    color: #54E6AF
}

.box > h1{
    font-weight: 100;
    line-height: 38px;
    font-size: 42.672px;
    text-transform: uppercase;
}



.box > p{
    color: #C2CBE5;
    font-size: 16px;
    margin-bottom: 80px;
    
}

.first_group_img{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.dots{
    position: relative;
    right: -1094px;
    top: -55px;
    
}

.box{
    color: #FFFFFF;
    position: relative;
    top: -599px;
    left: -100px;
    height: 490px;
    width: 850px;
    padding: 100px;
    background-color:  #101824;;
    margin-bottom: -400px;
    
}

#email{
    width: 427px;
    height: 58px;
    border-radius: 30px;
    background-color: #2C344B;
    border: none;
}

input[type='button']{
    padding: 19px 30px;
    border-radius: 30px;
    position: absolute;
    top: 352px;
    right: 324px;
    background-color: #54E6AF;
    

}

.podcasts{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}


/* ------Dashboard-------- */

.container_2{
    display: flex;
    margin: 0 0;
}



.feature_container{
    /* display: flex; */
    background-color: #2C344B;
    width: 100%;
    max-width:1500px;
    height: 25%;
    
}


.latest_shows{
    display: flex;
}

.main_dashboard{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    color: #FFFFFF;
    padding: 15px;
    
}



.sidebar{
    margin-right: 100px;
    height: 100vh;
    background-color: black;
    padding: 30px 10px;
    font-size: larger;

}

.menu_items > li{
    list-style: none;
    color: #FFFFFF;
    line-height: 40px;
    padding: 0 20px;
    cursor:pointer
}

.menu_items > li:hover{
   color: grey   
}

.show_container{
    display: flex;
    width: 100%;
    

    
}

.show_container > p {
    margin-left: 30px;
    text-align: left;
    width: 100%;

}

.description{
    padding: 30px;
}

.latest_shows_container{
    height: 300px;
    width: 300px;
    display: flex;
    
}

.latest_shows_container:first-child{
    margin-left: 0;
}

.inner_latest_show{
  margin-right: 170px;
  background-color: #2C344B;
  padding: 10px
  
}





